body{
	background-color:#212F40;
}
h1{
	color:#56A0D3;
	font-family: Ubuntu, Geneva, sans-serif;
	position: relative;
	margin: auto;
	text-align:center;
	padding:20px;
}

form    {
	font-family:Ubuntu, sans-serif;
	background-color:#eeeeee;
	border-radius:20px;
	margin:auto;
	text-align: center;
	width:300px;
	height:200px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #56A0D3;
	text-decoration: none;
	padding:10px;
}


